#content-single.post {
    @extend .bg-dark;
    padding-top: 7em;
    article.row {
        @extend .bg-light;
        padding: 1em 0;
        @extend .container;
        #single-img-wrapper {
            @extend .col-lg-6;
            @extend .col-sm-12;
            @extend .text-center;
        }
        h2 {
            @extend .col-lg-6;
            @extend .col-sm-12;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .single-body {
            @extend .col-12;
            padding-bottom: 3em;
        }
    }
}