#main-header {
    @extend .cinzel;
    .navbar-brand {
        a {
            @extend .ls-5;
            text-decoration: none;
            color: inherit;
            transition: font-size ease 0.93715s;
        }
    }
    nav.collapse.show {
        background-color: darken($dark, 10%) !important;
        text-align: center;
        ul {
            li {
                a {
                    font-size: 5vw;
                }
            }
        }
    }
    nav {
        ul {
            border-radius: 7px;
            li.active {
                a {
                    border-color: $warning;
                }
            }
            li {
                a {
                    border-bottom: 3px solid transparent;
                }
            }
        }
    }
}
#main-header.scrolled {
    background-color: rgba($dark, $alpha: 1);
    .navbar-brand {
        a {
            font-size: 3.7vw;
            color: $warning;
        }
    }
}
// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
    #main-header {
        padding: 0;
    }
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    #main-header {
        display: inline-flex;
        padding: 0;
        .navbar-brand {
            a {
                font-size: 7vw;
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 992px) {
    #main-header {
        padding: 0;
        .navbar-brand {
            a {
                font-size: 5vw;
            }
        }
    }
}