.widget {
    @extend .col-12;
    a {
        color: $light !important;
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
}
.widget_search {
    @extend .col-12;
    @extend .order-first;
    @extend .bg-dark;
    display: flex;
    padding: 0.1em 0 2% 0;
    h3 {
        text-align: center;
        width: 20%;
    }
    form {
        width: 80%;
        height: 50px;
        div {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            label {
                display: none;
            }
            input {
                width: 77%;
                background-color: rgba($light, $alpha: 0.1);
                border: 0;
                transition: background-color ease 1s;
                &:focus {
                    background-color: $light;
                }
            }
            input#searchsubmit {
                width: 23%;
                color: $secondary;
                &:hover {
                    background-color: $warning;
                    color: $dark;
                }
            }
         }
    }
}
// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
    .widget_search {
        flex-direction: column;
        h3 {
            width: 100%;
        }
        form {
            width: 100%;
            div {
                width: 100%;
                label {
                    display: none;
                }
                input {
                    width: 77%;
                    background-color: rgba($light, $alpha: 0.1);
                    border: 0;
                    transition: background-color ease 1s;
                    &:focus {
                        background-color: $light;
                    }
                }
                input#searchsubmit {
                    width: 23%;
                    color: $secondary;
                    &:hover {
                        background-color: $warning;
                        color: $dark;
                    }
                }
             }
        }
    }
}
.widget_pages {
    @extend .col-lg-4;
}
.widget_recent_comments {
    @extend .col-lg-8;
    ul#recentcomments {
        @extend .list-group;
        li.recentcomments {
            @extend .list-group-item;
            @extend .list-group-item-secondary;
            margin: 0 5px;
            a {
                @extend .text-dark;
                @extend .bg-light;
                @extend .px-1;
                border-radius: 3px;
                border-bottom: 1px solid rgba($info, 0.3);
                &:hover {
                    border-color: $warning;
                }
            }
        }
    }
}
.widget_categories,
.widget_archive {
    @extend .col-lg-4;
    label {
        display: none;
    }
    select {
        width: 100%;
        font-size: 1.7em;
        background-color: transparent;
        border: 0;
        color: $light;
        border-bottom: 1px solid $warning;
        option {
            background-color: $dark;
            font-size: 1.1em;
            transform: skewY(-3deg) !important;
            transform-origin: top left;
        }
    }
}
.widget_tag_cloud {
    @extend .col-lg-4;
}