
            #libros-scrollable {
                display: flex;
                flex-wrap: nowrap;
                overflow-x: auto;
                margin-top: 1em;
                padding: 0;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    display: none;
                }

                nav.nav {
                    display: flex;
                    justify-content: space-between;
                    width: 93.5%;
                    height: 305px;
                    position: absolute;
                    z-index: 3;

                    button {
                        display: none;
                        height: 100%;
                        background-color: rgba($light, $alpha: 0.3);
                        border: none;
                        color: rgba($light, $alpha: 0.7);
                        font-size: 3em;
                        padding: 0 0.3em;
                        cursor: pointer;

                        &:hover {
                            background-color: transparent;
                            color: rgba($light, $alpha: 1.0);
                        }
                    }

                    &:hover {
                        button {
                            display: initial;
                        }
                    }
                }

                .card {
                    flex: 0 0 auto;
                    padding: 0.1em;
                    margin: 0 5px 0 0px;
                    border-radius: 0;
                }
            }