* {
    box-sizing: border-box;
}
.swiper-container {
    width: 600px;
    height: 300px;
}
// Override Bootstrap Variables
@import './override/variables.scss';
// Helpers (Bootstrap, Custom Helpers)
@import './helpers/all.scss';
// Import Site Pages
@import './pages/all.scss';
// Import Site Components
@import './components/all.scss';

body,
html {
    font-family: 'Barlow';
}

img {
    max-width: 100%;
    height: auto;
}

button {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination.navbar {
    .page-link {
        a {
            @extend .nav-link;
        }
    }
}
